package ${packageName};

import java.util.ArrayList;
import java.util.List;
import java.util.Date;
import java.math.BigDecimal;
import javax.xml.datatype.XMLGregorianCalendar;
import com.foros.rs.client.util.QueryEntity;
import com.foros.rs.client.util.QueryParameter;
<%util.resolveImports(packageName, rootPackage, type.dependentTypes).each { str -> %>import ${str};
<%} %>

<%if(type.documentation) {%>/**
 <%type.documentation.eachLine { line -> %>* ${line}<%}%>
 */<%}%>
@QueryEntity
public class ${type.name} {
<%type.fields.each{ def field -> %>
    <%if(field.documentation) {%>/**
     <%field.documentation.eachLine { line -> %>* ${line}<%}%>
     */<%}%>
    @QueryParameter("${field.meta['queryParameter']?:field.name}")
    private ${util.resolveTypeName(field.type)} ${util.makeVariable(field.name)};
<%}%>
<%type.fields.each{ def field ->
    def fieldName = util.makeVariable(field.name)%>
    <%if(field.documentation) {%>/**
     <%field.documentation.eachLine { line -> %>* ${line}<%}%>
     */<%}%>
    public ${util.resolveTypeName(field.type)} get${util.toCamelStyle(field.name)}() {
        return this.${fieldName};
    }

    public void set${util.toCamelStyle(field.name)}(${util.resolveTypeName(field.type)} ${fieldName}) {
        this.${fieldName} = ${fieldName};
    }
<%}%>}