.form--input{
  width: 100%;
}
.form--ol{
  padding-left: 20px;
}
.form--p{
  font-weight: 600;
  margin: 10px 0 0;
}

.badge-channel__buttons{
  display: flex;
}

.badge-channel__buttons--close{
  margin-left: auto;
}