@import "~src/scss/variables";

.main-container {
  width: 100vw;
  height: 100vh;
  &, .left-menu {
    padding-top: $nav-top-height;
  }
  .left-menu {
    width: $nav-left-width;
  }
  .main-content {
    padding: $gen-spacing;
  }
}
