<p>{{'flight.blockName.period' | translate}}</p>
<ui-info-panel type="danger" *ngIf="errors?.frequencyCap?.period">
  <p *ngFor="let error of errors.frequencyCap.period">{{error}}</p>
</ui-info-panel>
<ui-info-panel type="danger" *ngIf="errors?.frequencyCap?.period?.value">
  <p *ngFor="let error of errors.frequencyCap.period.value">{{error}}</p>
</ui-info-panel>
<div class="flex-row">
  <mat-form-field class="input-number">
    <input type="number"
           name="fcPeriodValue" matInput
           min="0" max="99999"
           placeholder="{{'report.dateRange.R' | translate}}"
           (input)="inputChange('frequencyCap.period')"
           [(ngModel)]="frequencyCaps.period.value">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="frequencyCaps.period.unit">
      <mat-option *ngFor="let time of timeOptions" [value]="time">{{('messages.' + time) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<p>{{'flight.blockName.windowLimit.1' | translate}}</p>
<ui-info-panel type="danger" *ngIf="errors?.frequencyCap?.windowCount">
  <p *ngFor="let error of errors.frequencyCap.windowCount">{{error}}</p>
</ui-info-panel>
<ui-info-panel type="danger" *ngIf="errors?.frequencyCap?.windowLength && !errors.frequencyCap.windowLength?.value">
  <p *ngFor="let error of errors.frequencyCap.windowLength">{{error}}</p>
</ui-info-panel>
<ui-info-panel type="danger" *ngIf="errors?.frequencyCap?.windowLength?.value">
  <p *ngFor="let error of errors.frequencyCap.windowLength.value">{{error}}</p>
</ui-info-panel>
<div class="flex-row">
  <mat-form-field class="input-number">
    <input type="number"
           name="fcWindowCount" matInput
           min="0" max="99999"
           placeholder="{{'chart.metric.IMPS' | translate}}"
           (input)="inputChange('frequencyCap.windowCount')"
           [(ngModel)]="frequencyCaps.windowCount">
  </mat-form-field>
  <span >{{'flight.blockName.windowLimit.2' | translate}}:</span>
  <mat-form-field class="input-number">
    <input type="number"
           name="fcWindowValue" matInput
           min="0" max="99999"
           placeholder="{{'report.dateRange.R' | translate}}"
           (input)="inputChange('frequencyCap.windowLength')"
           [(ngModel)]="frequencyCaps.windowLength.value">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="frequencyCaps.windowLength.unit">
      <mat-option *ngFor="let time of timeOptions" [value]="time">{{('messages.' + time) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<p>{{'flight.blockName.lifeLimit' | translate}}</p>
<ui-info-panel type="danger" *ngIf="errors?.frequencyCap?.lifeCount">
  <p *ngFor="let error of errors.frequencyCap.lifeCount">{{error}}</p>
</ui-info-panel>
<mat-form-field>
  <input type="number"
         name="fcLifeCount" matInput
         min="0" max="99999"
         placeholder="{{'chart.metric.IMPS' | translate}}"
         (input)="inputChange('frequencyCap.lifeCount')"
         [(ngModel)]="frequencyCaps.lifeCount">
</mat-form-field>
