config_opts['root'] = 'trunk-el7'
config_opts['root'] = (config_opts['root'], config_opts['abt_pkgName'] + '-' + config_opts['root'])[len(config_opts['abt_pkgName'])>0]
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install  buildsys-build'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst
config_opts['macros']['%_os_release']='el7'
config_opts['macros']['%rhel']='7'
config_opts['plugin_conf']['yum_cache_enable'] = False
config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
#rpmverbosity=debug
logfile=/var/log/yum.log
reposdir=/dev/null
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
# grub/syslinux on x86_64 need glibc-devel.i386 which pulls in glibc.i386, need to exclude all
# .i?86 packages except these.
exclude=[1-9A-FH-Za-fh-z]*.i?86 g[0-9A-KM-Za-km-z]*.i?86 gl[0-9A-HJ-Za-hj-z]*.i?86 gli[0-9AC-Zac-z]*.i?86 glib[0-9A-BD-Za-bd-z]*.i?86

# repos
[core]
name=base7
baseurl=http://repo/CentOS/7.0/os/x86_64/Packages

[update]
name=updates7
baseurl=http://repo/CentOS/7.0/updates/x86_64

# required for perl-Text-Glob
[common]
name=common7
baseurl=http://repo/repos/RedHat7-extra/RPMS.common
exclude=ace-tao-valgrind*
enabled=1

[test]
name=test7
baseurl=http://repo/repos/RedHat7-extra/RPMS.test
exclude=OpenSBE-defs-1.0.11.0* OpenSBE-defs-1.0.12.0* ace-tao-valgrind*
enabled=1

[devel]
name=devel7
baseurl=http://repo/repos/RedHat7-extra/RPMS.devel
exclude=ace-tao-valgrind*
enabled=1
"""
