<h2 mat-dialog-title>{{'advertiserAccount.conversion.conversionPixelCode' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <ui-loading *ngIf="wait, else showContent"></ui-loading>

  <ng-template #showContent>
    <div class="text-center" *ngIf="previewData, else noData">
      <pre class="pre-scrollable text-left">{{previewData.pixelCode}}</pre>
    </div>
    <ng-template #noData>
      <ui-info-panel type="info">
        {{'advertiserAccount.conversion.cantShowPreview' | translate}}
      </ui-info-panel>
    </ng-template>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'button.close' | translate}}</button>
</mat-dialog-actions>
